/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc; }

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none; } }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #999; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a; }

.token.function {
  color: #DD4A68; }

.token.regex,
.token.important,
.token.variable {
  color: #e90; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

@charset "UTF-8";@font-face{font-family:zenticon;src:url(https://b.yzcdn.cn/zent/zenticon/zenticon-e445c74aef.eot);src:url(https://b.yzcdn.cn/zent/zenticon/zenticon-e445c74aef.eot#iefix) format("embedded-opentype"),url(https://b.yzcdn.cn/zent/zenticon/zenticon-e445c74aef.woff2) format("woff2"),url(https://b.yzcdn.cn/zent/zenticon/zenticon-e445c74aef.woff) format("woff"),url(https://b.yzcdn.cn/zent/zenticon/zenticon-e445c74aef.ttf) format("truetype")}.zenticon{display:inline-block;speak:none;font-style:normal;vertical-align:baseline;text-align:center;text-transform:none;font-variant:normal;text-rendering:auto;text-decoration:inherit;line-height:1;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.zenticon:before{box-sizing:border-box;display:block;font-family:zenticon!important}.zenticon.zenticon-spin{-webkit-animation:zenticon-animation-spin 2s linear infinite;animation:zenticon-animation-spin 2s linear infinite}@-webkit-keyframes zenticon-animation-spin{0%{transform:rotate(0deg)}to{transform:rotate(359deg)}}@keyframes zenticon-animation-spin{0%{transform:rotate(0deg)}to{transform:rotate(359deg)}}.zenticon-summary-o:before{content:"\E800"}.zenticon-summary:before{content:"\E801"}.zenticon-shop-o:before{content:"\E802"}.zenticon-shop:before{content:"\E803"}.zenticon-goods-o:before{content:"\E804"}.zenticon-goods:before{content:"\E805"}.zenticon-order-o:before{content:"\E806"}.zenticon-order:before{content:"\E807"}.zenticon-customer-o:before{content:"\E808"}.zenticon-customer:before{content:"\E809"}.zenticon-chart-o:before{content:"\E80A"}.zenticon-chart:before{content:"\E80B"}.zenticon-capital-o:before{content:"\E80C"}.zenticon-capital:before{content:"\E80D"}.zenticon-casher:before{content:"\E80E"}.zenticon-marketing:before{content:"\E80F"}.zenticon-settings-o:before{content:"\E810"}.zenticon-settings:before{content:"\E811"}.zenticon-youzan-o:before{content:"\E812"}.zenticon-youzan:before{content:"\E813"}.zenticon-close:before{content:"\E814"}.zenticon-close-circle-o:before{content:"\E815"}.zenticon-close-circle:before{content:"\E816"}.zenticon-message:before{content:"\E817"}.zenticon-message-o:before{content:"\E818"}.zenticon-bell:before{content:"\E819"}.zenticon-bell-o:before{content:"\E81A"}.zenticon-calendar:before{content:"\E81B"}.zenticon-calendar-o:before{content:"\E81C"}.zenticon-search:before{content:"\E81D"}.zenticon-customer-service:before{content:"\E81E"}.zenticon-feedback:before{content:"\E81F"}.zenticon-error-circle-o:before{content:"\E820"}.zenticon-error-circle:before{content:"\E821"}.zenticon-check-circle-o:before{content:"\E822"}.zenticon-check-circle:before{content:"\E823"}.zenticon-help-circle-o:before{content:"\E824"}.zenticon-help-circle:before{content:"\E825"}.zenticon-clock-o:before{content:"\E826"}.zenticon-clock:before{content:"\E827"}.zenticon-countdown:before{content:"\E828"}.zenticon-download:before{content:"\E829"}.zenticon-share:before{content:"\E82A"}.zenticon-shop-decorate:before{content:"\E82B"}.zenticon-shop-template:before{content:"\E82C"}.zenticon-gift:before{content:"\E82D"}.zenticon-caret-up:before{content:"\E82E"}.zenticon-caret-down:before{content:"\E82F"}.zenticon-arrow-up:before{content:"\E830"}.zenticon-arrow-down:before{content:"\E831"}.zenticon-right:before{content:"\E832"}.zenticon-right-circle:before{content:"\E833"}.zenticon-plus:before{content:"\E834"}.zenticon-star-o:before{content:"\E835"}.zenticon-star:before{content:"\E836"}.zenticon-check:before{content:"\E837"}.zenticon-info-circle-o:before{content:"\E838"}.zenticon-info-circle:before{content:"\E839"}.zenticon-warning-o:before{content:"\E83A"}.zenticon-warning:before{content:"\E83B"}.zenticon-lock:before{content:"\E83C"}.zenticon-unlock:before{content:"\E83D"}.zenticon-pending-circle:before{content:"\E83E"}.zenticon-forbidden-circle:before{content:"\E83F"}.zenticon-business-o:before{content:"\E840"}.zenticon-business:before{content:"\E841"}.zenticon-approval-o:before{content:"\E842"}.zenticon-approval:before{content:"\E843"}.zenticon-ticket-o:before{content:"\E844"}.zenticon-ticket:before{content:"\E845"}.zenticon-report-o:before{content:"\E846"}.zenticon-report:before{content:"\E847"}.zenticon-expand-customer-o:before{content:"\E848"}.zenticon-expand-customer:before{content:"\E849"}.zenticon-checkin-o:before{content:"\E84A"}.zenticon-checkin:before{content:"\E84B"}.zenticon-plus-circle-o:before{content:"\E84C"}.zenticon-subtract-circle-o:before{content:"\E84D"}.zenticon-remove-o:before{content:"\E84E"}.zenticon-edit-o:before{content:"\E84F"}.zenticon-assess-o:before{content:"\E850"}.zenticon-assess:before{content:"\E851"}.zenticon-upload:before{content:"\E852"}.zenticon-hr-o:before{content:"\E853"}.zenticon-hr:before{content:"\E854"}.zenticon-export:before{content:"\E855"}.zenticon-suggestions:before{content:"\E856"}.zenticon-video-guide:before{content:"\E857"}.zenticon-text-guide:before{content:"\E858"}.zenticon-hc-manage-o:before{content:"\E859"}.zenticon-hc-manage:before{content:"\E85A"}.zenticon-hotline-o:before{content:"\E85B"}.zenticon-visit-o:before{content:"\E85C"}.zenticon-im-o:before{content:"\E85D"}.zenticon-tools-o:before{content:"\E85E"}.zenticon-knowledge-o:before{content:"\E85F"}.zenticon-flow-o:before{content:"\E860"}.zenticon-strategy-o:before{content:"\E861"}.zenticon-contract-o:before{content:"\E862"}.zenticon-channel-o:before{content:"\E863"}.zenticon-qa-o:before{content:"\E864"}.zenticon-rights-list-o:before{content:"\E865"}
